.container {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     max-width: 100vw;
   }
   
   .content {
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #08090a;
     color: #fff;
     margin-left: 400px;
   }
   
   .textAnimationContent{
    display: none;
   }

   @media (min-width:700px) {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      max-width: 100vw;
    }
    .textAnimationContent{
      display: inline;
     }
    .content {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #08090a;
      color: #fff;
      margin-left: 400px;
    }
   }