.home{
     width: 80vw;
     color: #fff;
     margin-left: 20vw;
            
       
       
}


.homeContainer{
     display: flex;
     width: 100%;
     background: #08090a ;
     

}
.homeContainer2{
     display: flex;
     width: 100%;
      
}