.container {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     max-width: 100vw;
   }
   
   .content {
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #08090a;
     color: #fff;
     margin-left: 400px;
   }
   
   .textAnimationContent{
    display: none;
   }

   /* sobre mim */
   .about_me{
     
    padding-left: 405px;
    background-color: red;
    width: calc(100vw -400px);
    font-size: 220px;
    color: #000;
    height: 100vh;
    display: flex;
   }


   @media (min-width:700px) {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      max-width: 100vw;
    }
    .textAnimationContent{
      display: inline;
     }
    .content {
       
      display: flex;
      justify-content: center;
      align-items: center;
      background: #08090a;
      color: #fff;
      margin-left: 400px;
    }
   }