.home{
     max-height: 100vh;
     background-image: linear-gradient(to right, #333333 0%, black 100%);

    color: #fff;
}


.home_down:hover{
    cursor: pointer;
     transform: scale(1.1);
    color: #000;
     
}